body {
  background-image: url('image/background.jpg'); /* 替换为你自己的背景图片路径 */
  background-size: cover;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
h1 {
  text-shadow: 2px 2px #000;
}
p {
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
}
.page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.page.active {
  left: 0;
  z-index: 1;
}
.page h2 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px #000;
}
